<!-- <button (click)="startWalkthrough()" *ngIf="false">Start Walkthrough</button> -->

<div *ngIf="loadingService.loadingState$ | async">
  <div class="loader">
    <div class="progress"></div>
  </div>
</div>

<div
  nz-row
  style="list-style-type: none; background-color: aqua; font-size: 24px"
  nzJustify="space-around"
>
  <li nz-col><a [routerLink]="'home'">Home</a></li>
  <li nz-col><a [routerLink]="'about'">About</a></li>
  <li nz-col><a [routerLink]="'contact'">Contact</a></li>
</div>
<router-outlet></router-outlet>

<!-- <style>@keyframes x{}</style><xss style="animation-name:x" onanimationstart="alert(1)"></xss> -->
<div
  nz-row
  nzJustify="space-between"
  style="padding: 60px 250px 0 200px"
  [nzGutter]="24"
>
  <div #step1 nz-col class="tooltip arrow-button">button 1</div>
  <div #step2 nz-col class="tooltip">button 2</div>
  <div #step3 nz-col class="tooltip">button 3</div>
  <div #step4 nz-col class="tooltip">button 4</div>
</div>

<!-- <span class="arrow-down"></span> -->

<span #tooltip class="tooltiptext">
  <nz-card class="">
    <h2>{{ currentStep }}</h2>
    <p>Step content goes here.</p>

    <button
      nz-button
      nzType="primary"
      (click)="previousStep()"
      style="margin-right: 10px"
    >
      Previous
    </button>

    <button
      *ngIf="!isLastStep"
      nz-button
      nzType="primary"
      (click)="nextStep()"
      style="margin-right: 10px"
    >
      Next
    </button>

    <button
      *ngIf="isLastStep"
      nz-button
      nzType="primary"
      (click)="closeWalkthrough()"
      style="margin-right: 10px"
    >
      Finish
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="closeWalkthrough()"
      style="margin-right: 10px"
    >
      Close
    </button>
  </nz-card>
</span>
<!-- 
<div style="text-align: center">
  <div nz-col class="tooltip">
    Hover over me

  </div>
</div> -->

<div style="text-align: center; margin-top: 200px">
  <div #step5 nz-col class="tooltip">button 5</div>
  <button
    nz-button
    nzType="primary"
    nz-popover
    nzPopoverTitle=""
    [(nzPopoverVisible)]="visible"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottom"
  >
    new Button
  </button>
</div>

<ng-template #contentTemplate>
  <a (click)="clickMe()">Close</a>
  <h2>{{ currentStep }}</h2>
  <p>Step content goes here.</p>

  <button
    nz-button
    nzType="primary"
    (click)="previousStep()"
    style="margin-right: 10px"
  >
    Previous
  </button>

  <button
    *ngIf="!isLastStep"
    nz-button
    nzType="primary"
    (click)="nextStep()"
    style="margin-right: 10px"
  >
    Next
  </button>

  <button
    *ngIf="isLastStep"
    nz-button
    nzType="primary"
    (click)="closeWalkthrough()"
    style="margin-right: 10px"
  >
    Finish
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="closeWalkthrough()"
    style="margin-right: 10px"
  >
    Close
  </button>
</ng-template>

<div
  style="
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0 50px;
  "
>
  <button class="test1-1">start</button>
  <button appWalkthrough class="test1-2">second</button>
  <button class="test1-3">end</button>
</div>
